@model IEnumerable<MvcCoreNuevo.Models.Coche>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-controller="Coches" asp-action="CochesAsincronos">Petición Asíncrona</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VelocidadMaxima)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VelocidadMaxima)
            </td>
        </tr>
}
    </tbody>
</table>
