@model IEnumerable<MvcCoreNuevo.Models.Trabajador>

@{
    int numregis = (int)ViewData["numregis"];
    int numpag = 1;
}

<h1>Paginar Trabajadores SQl</h1>

<form method="post">
    <label>Salario</label>
    <input type="text" name="salario" class="form-control" required /><br />
    <button type="submit" class="btn btn-info">Filtrar datos</button>
</form>
<br />
<a asp-controller="Trabajadores" asp-action="PaginarGrupoTrabajadoresSQL">Quitar filtros</a>

<ul class="list-group list-group-horizontal">
    @for (int i = 1; i <= numregis; i += 4)
    {
        if (ViewData["salario"] == null)
        {
            <li class="list-group-item">
                <a asp-controller="Trabajadores"
                   asp-action="PaginarGrupoTrabajadoresSQL"
                   asp-route-posicion="@i">@numpag</a>
            </li>
        }
        else
        {
            <li class="list-group-item">
                <a asp-controller="Trabajadores"
                   asp-action="PaginarGrupoTrabajadoresSQL"
                   asp-route-posicion="@i"
                   asp-route-salario="@ViewData["salario"]">@numpag</a>
            </li>
        }
        numpag++;
    }
</ul>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>IdTrabajador</th>
            <th>Apellido</th>
            <th>Trabajo</th>
            <th>Salario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTrabajador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trabajo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
            </tr>
        }
    </tbody>
</table>
